.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  height: 85vh;
}

.adminInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 18px;
  font-weight: 500px;
  width: 100vh;
}
