.EmailEntry {
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.emailInput {
    align-self: flex-start;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    flex-grow: 0;
    margin: 0;
    text-align: center;
}

.emailForms {
    padding-top: 100;
}

/*Applied to the list containing
  the transition; prevents the
  rest of the page contents from moving*/
