header {
  height: 18vh;
  background-color: #a32638;

  font-size: 4vh;
  font-weight: 500;
  color: #ffffff;
  text-shadow: -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000, -0.25px 0.25px 0 #000, 0.25px 0.25px 0 #000;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  font-family: 'Times New Roman', Times, serif;
  display: block;
}