footer {
  background-color: #c93448;
  margin: 0;
  width: 100%;
  text-shadow: -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000, -0.25px 0.25px 0 #000, 0.25px 0.25px 0 #000;
  text-align: center;
  font-family: Verdana,sans-serif;
  display: block;
  white-space: nowrap;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  color: white;
}

footer .footerleft {
  float: left;
}

footer .footerright {
  float: right;
  padding-right: 0.75rem;
}